.header {
  height: 200px;
  background: url("../../assets/img/header.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__title {
    margin-bottom: 20px;
    h1 {
      color: #ffffff;
    }
  }
}
